<%= render 'layouts/header' %>
  <div class="container">
  <h1>UCL Tricerashopper</h1>
  <%= link_to "Lost, Missing, and Long Overdue Report", losts_path %><br>
  <%= link_to "Marc Record Processing", marc_uploads_path %><br>
  <%= link_to "DDA Expenditures Report", dda_expenditures_path %><br>
  <%= link_to "Material Orders", orders_path %><br>
  <%= link_to "MARC Record Download", marc_downloads_path %>
</div>
