<table class="table table-striped">
  <thead>
    <tr>
      <th>Record Number</th>
      <th>Problem Type</th>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @problems.each do |problem| %>
      <%= div_for problem do %>
      <tr>
        <td><%= human_readable_record_number(problem.record_type, problem.record_num) %></td>
        <td><%= problem.type %></td>
        <td><%= problem.title %></td>
        <td><%= link_to 'Check', audit_problem_path(problem), class: 'btn btn-default', remote: true %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
