<table class="table table-striped">
  <thead>
    <tr>
      <th>Record Number</th>
      <th>Problem</th>
      <th>Record Type</th>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @problems.each do |problem| %>
      <%= div_for problem do %>
      <tr>
        <td><%= link_to problem.record_num, problem_path(problem) %></td>
        <td><%= problem.type %></td>
        <td><%= problem.record_type %></td>
        <td><%= problem.title %></td>
        <td><%= link_to 'Audit', audit_problem_path(problem), class: 'btn btn-success', remote: true %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>


