<%- model_class = Problem %>
<html>
<%= render 'layouts/header' %>
<body>
<div class="container-fluid">
  <h1> <%=t '.title', :default => "QC #{model_class.model_name.human.pluralize.titleize}" %></h1>
  <%= bootstrap_flash %>
  <%= form_tag problems_path, method: :get do %>
    <div class="input-append">
      <%= text_field_tag :record_num, params[:record_num] %>
      <%= submit_tag "Search", name: nil, class: 'btn btn-default' %>
    <% end %>
  <br>
</div>
<div class="row">
  <div class="col-md-3">
    <%= render 'facets' %>  </div>
  <div class="col-md-8">
    <%=render 'results_body' %>
  </div>
  </div>
  <div class="container-fluid">
      <div class="pagination">
    <%= will_paginate @problems, renderer: BootstrapPagination::Rails %>
  </div>
  </div>
  </div>
</body>
</html>
