<p id="notice"><%= notice %></p>
<%= render 'layouts/header' %>
<p>
  <strong>Record type:</strong>
  <%= @problem.record_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @problem.description %>
</p>

<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
