<%- model_class = Problem -%>
<div class="container">
  <%= bootstrap_flash %>
</div>
<%= render 'layouts/header' %>
<div class="container">
  <div class="page-header">
    <h1><%= t '.title', :default => "QC #{model_class.model_name.human.titleize}" %></h1>
  </div>
  <dl class="dl-horizontal">  
    <dt>Error description</dt>
    <dd><%= @problem.class::DESCRIPTION %></dd>
  <% for attribute in @problem.attributes.keys %>
    <dt><%= attribute.humanize %></dt>
    <dd><%= @problem.attributes[attribute].to_s.presence || '-' %></dd>
  <% end %>
</dl>
<div class="well">
  <%= render 'show_actions' %>
</div>
</div>
