<tbody>
  <% @losts.each do |lost| %>
    <tr>
      <td> <%= link_to human_readable_record_number('i', lost.item_number), lost_path(lost), :class => 'btn btn-default' %> </td>
      <td> <%= if lost.title.length > 59 then "#{lost.title[0..60]}..." else lost.title end %> </td>
      <td> <%= lost.status %> </td>
      <td> <%= lost.location %> </td>
      <td> <%= lost.call_number %> </td>
      <td> <%= lost.barcode %> </td>
      <td> <%= lost.last_checkout %> </td>
    </tr><% end %>
</tbody>
