<div class="row">
  <div class="col-md-5">
    <div class="input-group">
  <%= form_tag losts_path, :method => :get do %>
      <span class="input-group-btn">
      <%= text_field_tag :search, params[:search], class: 'form-control no-border-radius' %>
      <%= submit_tag "Search", name: nil, class: 'btn btn-default' %>
      </span>
      <% end %>
    </div>
  </div>

<div class="col-md-2">
  <div class="dropdown">
    <%if params[:sort] == 'title'%>
     <button class="btn btn-primary" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Title
        <span class="caret"></span>
      </button>
    <% elsif params[:sort] == 'call_number'%>
      <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Call Number
          <span class="caret"></span>
      </button>
    <% else %>
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Sort
          <span class="caret"></span>
      </button>
    <% end %>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><%= link_to "Title", request.params.merge({sort: :title}) %></li>
        <li><%= link_to "Call Number", request.params.merge({sort: :call_number}) %></li>
        <li role="separator" class="divider"></li>
        <li><%= link_to 'Clear Sort', request.params.merge({sort: nil}) %></li>
      </ul>
    </div>
  </div>

<div class="col-md-1">
  <div class="dropdown">
    <%if params[:reviewed] == 'true'%>
     <button class="btn btn-success" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
       Reviewed
       <span class="caret"></span>
      </button>
    <%elsif params[:reviewed] == 'false'%>
     <button class="btn btn-warning" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
       Unreviewed
       <span class="caret"></span>
      </button>
    <% else %>
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Status
       <span class="caret"></span>
      </button>
    <% end %>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><%= link_to "Reviewed", request.params.merge({reviewed: 'true'}) %></li>
        <li><%= link_to "Unreviewed", request.params.merge({reviewed: 'false'}) %></li>
        <li role="separator" class="divider"></li>
        <li><%= link_to 'Clear Filter', request.params.merge({reviewed: nil}) %></li>
      </ul>
    </div>
  </div>
</div>
