<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <body>
    <%= render 'layouts/header' %>

    <div class="container-fluid">

      <h2>Lost, Missing, Long-overdue</h2>

      <div class="row-fluid">

      <div class="span9">
        <%= render "search_box" %>
        <table class="table table-striped table-condensed table-responsive">
          <%= render "results_header" %>
          <%= render "results_body" %>
        </table>

      </div>
      <%= render "facets" %>
      </div>
    </div>

    <div class="pagination">
      <%= will_paginate @search.hits, renderer: BootstrapPagination::Rails %>
    </div>
  </body>
</html>
