<%- model_class = Lost -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:item_number) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:location) %></th>
      <th><%= model_class.human_attribute_name(:call_number) %></th>
      <th><%= model_class.human_attribute_name(:barcode) %></th>
      <th><%= model_class.human_attribute_name(:last_checkout) %></th>
    </tr>
  </thead>
  <tbody>
    <% @losts.each do |lost| %>
      <tr>
        <td><%= link_to lost.id, lost_path(lost) %></td>
        <td><%= lost.item_number %></td>
        <td><%= lost.title %></td>
        <td><%= lost.status %></td>
        <td><%= lost.location %></td>
        <td><%= lost.call_number %></td>
        <td><%= lost.barcode %></td>
        <td><%= lost.due_date %></td>
        <td><%= lost.last_checkout %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="pagination">
<%= will_paginate @losts, renderer: BootstrapPagination::Rails %>
</div>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_lost_path,
            :class => 'btn btn-primary' %>
