<%- model_class = Lost-%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:item_number) %>:</strong></dt>
  <dd><%= "i#{@lost.item_number.to_s}a" %></dd>
  <dt><strong><%= model_class.human_attribute_name(:bib_number) %>:</strong></dt>
  <dd><%= "b#{@lost.bib_number}a" %></dd>
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @lost.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:imprint) %>:</strong></dt>
  <dd><%= @lost.imprint %></dd>


  <dt><strong><%= model_class.human_attribute_name(:isbn) %>:</strong></dt>
  <dd><%= @lost.isbn.gsub(/(\d{13}|\d{9}[X\d])/, "<a href=\"http://www.gobi3.com/hx/Gobi.ashx?location=runsearch&source=quicksearch&quicksearchval=\\1\" target=\"_blank\">\\1</a>").html_safe %></dd>


  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @lost.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:checkouts) %>:</strong></dt>
  <dd><%= @lost.checkouts %></dd>
  <dt><strong><%= model_class.human_attribute_name(:location) %>:</strong></dt>
  <dd><%= @lost.location %></dd>
  <dt><strong><%= model_class.human_attribute_name(:note) %>:</strong></dt>
  <dd><%= @lost.note %></dd>
  <dt><strong><%= model_class.human_attribute_name(:call_number) %>:</strong></dt>
  <dd><%= @lost.call_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:volume) %>:</strong></dt>
  <dd><%= @lost.volume %></dd>
  <dt><strong><%= model_class.human_attribute_name(:barcode) %>:</strong></dt>
  <dd><%= @lost.barcode %></dd>
  <dt><strong><%= model_class.human_attribute_name(:due_date) %>:</strong></dt>
  <dd><%= @lost.due_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_checkout) %>:</strong></dt>
  <dd><%= @lost.last_checkout %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              losts_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_lost_path(@lost), :class => 'btn' %>
</div>
