<%= render 'layouts/header' %>
<%- model_class = Lost-%>
<div class="container"><h2>Lost, Missing, Long-overdue</h2></div>
<% if current_user.sign_in_count < 3 %>
  <div class="container"><div class="span8"><%= bootstrap_flash %></div></div>
<% end %>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:item_number) %>:</strong></dt>
  <dd><%= "i#{@lost.item_number.to_s}a" %></dd>
  <dt><strong><%= model_class.human_attribute_name(:bib_number) %>:</strong></dt>

  <dd><%= "b#{@lost.bib_number}a" %></dd>
 
    <dt><strong><%= model_class.human_attribute_name(:oclc) %>:</strong></dt>
    <dd><%= @lost.oclc.presence || '-' %></dd>

  <dt><strong><%= model_class.human_attribute_name(:author) %>:</strong></dt>
  <dd><%= @lost.author.presence || '-' %></dd>
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @lost.title.presence || '-' %></dd>
  <dt><strong><%= model_class.human_attribute_name(:imprint) %>:</strong></dt>
  <dd><%= @lost.imprint %></dd>
  <dt><strong><%= model_class.human_attribute_name(:isbn) %>:</strong></dt>
    <dd><%= @lost.isbn.gsub(/(\d{13}|\d{9}[X\d])/, "<a href=\"http://www.gobi3.com/hx/Gobi.ashx?location=runsearch&source=quicksearch&quicksearchval=\\1\" target=\"_blank\">\\1</a>").html_safe.presence || '-' %></div></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @lost.status.presence || '-' %></dd>
  <dt><strong><%= model_class.human_attribute_name(:checkouts) %>:</strong></dt>
  <dd><%= @lost.checkouts.presence || '-' %></dd>
  <dt><strong><%= model_class.human_attribute_name(:location) %>:</strong></dt>
  <dd><%= @lost.location.presence || '-' %></dd>
  <dt><strong><%= model_class.human_attribute_name(:call_number) %>:</strong></dt>
  <dd><%= @lost.call_number.presence || '-' %></dd>
  <dt><strong><%= model_class.human_attribute_name(:volume) %>:</strong></dt>
  <dd><%= @lost.volume.presence || '-' %></dd>
  <dt><strong><%= model_class.human_attribute_name(:barcode) %>:</strong></dt>
  <dd><%= @lost.barcode.presence || '-' %></dd>
  <dt><strong><%= model_class.human_attribute_name(:due_date) %>:</strong></dt>
  <dd><%= @lost.due_date.presence || '-' %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_checkout) %>:</strong></dt>
  <dd><%= @lost.last_checkout.presence || '-' %></dd>
</dl> 
<div class="container">
  <div class="span8">
      <div class="btn-group">
     <%= link_to 'UCLID', "http://uclid.uc.edu/record=b#{@lost.bib_number}~S39", target: '_blank', class: 'btn btn-default' %>

     <% unless @lost.oclc.nil? %> 
     <%= link_to 'OhioLINK', "http://olc1.ohiolink.edu/search/o?SEARCH=#{@lost.oclc}", target: '_blank', class: 'btn btn-default' %>
     <%= link_to 'WorldCat', "https://www.worldcat.org/search?q=no:#{@lost.oclc}", target: '_blank', class: 'btn btn-default' %>
   <% end %>
     
</div>
</div>
     <%= link_to 'Create Order', new_order_path(title: @lost.title, author: @lost.author, isbn: @lost.isbn, oclc: @lost.oclc, publisher: @lost.imprint, location: @lost.location.upcase), target: "_blank", class: 'btn btn-success' %>
</div>
