<%= form_for @order, html: {class: 'form-horizontal'} do |f| %>
  <%= bootstrap_flash %>
<% if @order.errors.any? %>
    <div class="container">
      <div class="alert alert-error">
        <h5><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h5>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    </div>
  <% end %>
 <div class="container">
  <div class="well">
 
    <div class="row">
    <div class="span7">

    <div class="control-group required">
     <%= f.label :title, class: 'control-label' %>
    <div class="controls">
    <%= f.text_field :title, class: 'text-field' %>
    </div>
  </div>
  <div class="control-group required">
    <%= f.label :author, class: 'control-label' %>
    <div class="controls">
    <%= f.text_field :author, class: 'text-field' %>
    </div>
  </div>
  <div class="control-group required">
    <%= f.label :format, class: 'control-label' %>
    <div class="controls">
    <%= f.select :format, options_for_select(format_list, f.object.format), selected: @order.format %>
    </div>
  </div>
  <div class="control-group required">
    <%= f.label :publication_date, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :publication_date, class: 'text-field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :isbn, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :isbn, class: 'text-field' %>
    </div>
  </div>
  <div class="control-group required">
    <%= f.label :publisher, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :publisher, class: 'text-field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :oclc, class: 'control-label' %>
    <div class="controls">
      <%= f.number_field :oclc, class: 'text-field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :edition, class: 'control-label' %>
    <div class="controls">
    <%= f.text_field :edition, class: 'text-field' %>
    </div>
  </div>
</div>
<div class="span4">To aid Content Services staff, please enter as much title information as possible.</div>

</div>
</div>

  <div class="well">
    <div class="control-group required">
    <%= f.label :selector, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :selector, class: 'text-field' %>
  </div>
  </div>
  <div class="control-group">
    <%= f.label :requestor, class: 'control-label' %>
    <div class="controls">
    <%= f.text_field :requestor, class: 'text-field' %>
    </div>
  </div>
  <div class="control-group required">
    <%= f.label :location_code, class: 'control-label' %>
    <div class="controls">
    <%= f.select :location_code, options_for_select(location_code_list, f.object.location_code), include_blank: true %>
    </div>
  </div>
  <div class="control-group required">
    <%= f.label :fund, class: 'control-label' %>
    <div class="controls">
    <%= f.select :fund, options_for_select(fund_code_list, f.object.fund), include_blank: true %>
    </div>
  </div>
  <div class="control-group required">
    <%= f.label :cost, class: 'control-label' %>
    <div class="controls">

      <% if @order.cost.presence %> 
         <% if @order.cost < 10 %> 
      <%= f.text_field :cost, class: 'text-field', value: @order.cost.to_s.insert(-2,'.0') %>
    <% else %>
        <%= f.text_field :cost, class: 'text-field', value: @order.cost.to_s.insert(-3,'.') %>
      <% end %>
    <% else %>
      <%= f.text_field :cost, class: 'text-field' %>
      <% end %>
    </div>
  </div>
  </div>
    <div class="well">
  <div class="control-group">
    <%= f.label :added_edition, class: 'control-label' %>
    <div class="controls">
    <%= f.check_box :added_edition, class: 'text-field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :added_copy, class: 'control-label' %>
    <div class="controls">
    <%= f.check_box :added_copy, class: 'checkbox' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :added_copy_call_number, class: 'control-label' %>
    <div class="controls">
    <%= f.text_field :added_copy_call_number, class: 'text-field' %>
    </div>
  </div>
  </div>
    <div class="well"> 
  <div class="control-group">
    <%= f.label :rush_order, class: 'control-label' %>
    <div class="controls">
    <%= f.check_box :rush_order, class: 'checkbox' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rush_process, class: 'control-label' %>
    <div class="controls">
    <%= f.check_box :rush_process, class: 'checkbox' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :notify, class: 'control-label' %>
    <div class="controls">
    <%= f.check_box :notify, class: 'checkbox' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :reserve, class: 'control-label' %>
    <div class="controls">
    <%= f.check_box :reserve, class: 'checkbox' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :notification_contact, class: 'control-label' %>
    <div class="controls">
    <%= f.text_field :notification_contact, class: 'text-field' %>
    </div>
  </div>
</div>
  <div class="well">
  <div class="control-group">
    <%= f.label :relevant_url, class: 'control-label' %>
    <div class="controls">
    <%= f.text_field :relevant_url, class: 'text-field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :other_notes, class: 'control-label' %>
    <div class="controls">
    <%= f.text_area :other_notes, class: 'text-area' %>
    </div>
  </div>
  </div>



  <% if current_user.instance_of? Admin %>
  <div class="well">

    <div class="row">
      <div class="span7">
    <div class="control-group required">
        <h4>Admin</h4>
        <%= f.label :vendor_code, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :vendor_code, class: 'text-field' %>
        </div>
        </div>
        <div class="control-group">
        <%= f.label :vendor_note, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :vendor_note, class: 'text-field' %>
        </div>
      </div> 
         <div class="control-group">
        <%= f.label :internal_note, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :internal_note, class: 'text-field' %>
        </div>
      </div> 
          <div class="control-group">
        <%= f.label :processing_note, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :processing_note, class: 'text-field' %>
        </div>
      </div> 
  <div class="control-group">
        <%= f.label :not_yet_published, class: 'control-label' %>
        <div class="controls">
          <%= f.check_box :not_yet_published, class: 'check-box' %>
        </div>
      </div>
  <div class="control-group">
        <%= f.label :not_yet_published_date, class: 'control-label' %>
        <div class="controls">
          <%= f.date_field :not_yet_published_date, class: 'date_field' %>
        </div>
      </div>
  <div class="control-group">
        <%= f.label :vendor_address, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :vendor_address, class: 'text-field' %>
        </div>
      </div>

  <div class="control-group">
        <%= f.label :credit_card_order, class: 'control-label' %>
        <div class="controls">
          <%= f.check_box :credit_card_order, class: 'check-box' %>
        </div>
      </div>
    </div>
    <p>All fields correspond to order record variable fields.</p>
    <p>To include line breaks in the vendor address field, separate lines with $ (dollar) characters in your string.</p>
    <p>The <i>Not yet published</i> option requires a date and will generate a tickler field in the MARC record.</p>
    <p>Credit card order option will generate fixed field acq-type = 'b'</p>
    </div>
 


    </div>
<% end %>

  <div class="actions">
    <%= f.submit class: 'btn'%>
  </div>
  </div>
<% end %>
