<%- model_class = Order -%>
  <div class="container-fluid">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <% flash.each do |name, msg| -%>
            <%= content_tag :div, sanitize(msg), class: "alert alert-#{name}" %>
          <% end -%>
  <div class="input-group">
    <%= form_tag orders_path, method: :get do %>
      <span class="input-group-btn">
      <%= text_field_tag :search, params[:search], class: 'form-control' %>
      <%= submit_tag "Search", name: nil, class: 'btn btn-default' %>
    </span>
    <% end %>
  </div>
</div>
<div class="container-fluid">
  <div class="col-md-3">
    <%= render "facets" %>
  </div>
  <div class="col-md-8">
    <%= render "results_body" %>
  </div>
</div>
<div class="container-fluid">
   <div class="well">
    <%= link_to t('.new', :default => t("helpers.links.new")),
            new_order_path,
            :class => 'btn btn-default' %>
          <% if current_user.instance_of? Admin %>
            <%= link_to 'Download MARC', export_to_marc_orders_path(), class: 'btn btn-default', data: {confirm: 'Download MARC will generate marc records for orders that have an accept status. Are you sure you\'re ready to create the MARC file?'} %> 
            <% end %>
    </div>

<div class="pagination">
  <%= will_paginate @search.hits, renderer: BootstrapPagination::Rails %>
</div>
</div><!--close container-fluid div-->
</div>
</div>
