<%- model_class = Order -%>
<%= render 'layouts/header' %>
<% bootstrap_flash %>
<div class='container'>
    <div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @order.title.presence || '-'%></dd>
  <dt><strong><%= model_class.human_attribute_name(:author) %>:</strong></dt>
  <dd><%= @order.author.presence || '-'%></dd>
  <dt><strong><%= model_class.human_attribute_name(:format) %>:</strong></dt>
  <dd><%= @order.format.presence || '-'%></dd>
  <dt><strong><%= model_class.human_attribute_name(:publication_date) %>:</strong></dt>
  <dd><%= @order.publication_date.presence || '-'%></dd>
  <dt><strong><%= model_class.human_attribute_name(:isbn) %>:</strong></dt>
  <dd><%= @order.isbn.presence  || '-'%></dd>
  <dt><strong><%= model_class.human_attribute_name(:publisher) %>:</strong></dt>
  <dd><%= @order.publisher.presence || '-'%></dd>
  <dt><strong><%= model_class.human_attribute_name(:series) %>:</strong></dt>
  <dd><%= @order.series.presence || '-'%></dd>
  <dt><strong><%= model_class.human_attribute_name(:oclc) %>:</strong></dt>
  <dd><%= @order.oclc || '-' %></dd>
  <dt><strong><%= model_class.human_attribute_name(:edition) %>:</strong></dt>
  <dd><%= @order.edition.presence || '-'%></dd>
  <dt><strong><%= model_class.human_attribute_name(:selector) %>:</strong></dt>
  <dd><%= @order.selector.presence || '-'%></dd>
  <dt><strong><%= model_class.human_attribute_name(:requestor) %>:</strong></dt>
  <dd><%= @order.requestor.presence || '-'%></dd>
  <dt><strong><%= model_class.human_attribute_name(:location_code) %>:</strong></dt>
  <dd><%= @order.location_code.presence || '-'%></dd>
  <dt><strong><%= model_class.human_attribute_name(:fund) %>:</strong></dt>
  <dd><%= @order.fund.presence || '-'%></dd>
  <dt><strong><%= model_class.human_attribute_name(:cost) %>:</strong></dt>
  <dd><%= number_to_currency(cost_in_dollars(@order.cost))  || '-'%></dd>
  <dt><strong><%= model_class.human_attribute_name(:currency) %>:</strong></dt>
  <dd><%= @order.currency || '-'%></dd>
  <dt><strong><%= model_class.human_attribute_name(:added_edition) %>:</strong></dt>
  <dd><%= @order.added_edition.presence || '-'%></dd>
  <dt><strong><%= model_class.human_attribute_name(:added_copy) %>:</strong></dt>
  <dd><%= @order.added_copy.presence || '-'%></dd>
  <dt><strong><%= model_class.human_attribute_name(:added_copy_call_number) %>:</strong></dt>
  <dd><%= @order.added_copy_call_number.presence || '-'%></dd>
  <dt><strong><%= model_class.human_attribute_name(:rush_order) %>:</strong></dt>
  <dd><%= @order.rush_order || '-'%></dd>
  <dt><strong><%= model_class.human_attribute_name(:notify) %>:</strong></dt>
  <dd><%= @order.notify || '-'%></dd>
  <dt><strong><%= model_class.human_attribute_name(:reserve) %>:</strong></dt>
  <dd><%= @order.reserve || '-'%></dd>
  <dt><strong><%= model_class.human_attribute_name(:notification_contact) %>:</strong></dt>
  <dd><%= @order.notification_contact.presence || '-'%></dd>
  <dt><strong><%= model_class.human_attribute_name(:relevant_url) %>:</strong></dt>
  <dd><%= @order.relevant_url.presence || '-'%></dd>
  <dt><strong><%= model_class.human_attribute_name(:other_notes) %>:</strong></dt>
  <dd><%= @order.other_notes.presence || '-'%></dd>
</dl>

<% if current_user.instance_of? Admin %>
  <%= render "show_admin_fields" %>
<% end %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              orders_path, :class => 'btn'  %>
          
          
            <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_order_path(@order), :class => 'btn' || '-' %>
<% if current_user.instance_of? Admin %>
  <%= render "show_admin_actions" %>
<% elsif current_user.instance_of? Selector %>
  <%= render "show_selector_actions" %>
          <% end %>
  </div>
