<%= form_for(@dda_expenditure) do |f| %>
  <% if @dda_expenditure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dda_expenditure.errors.count, "error") %> prohibited this dda_expenditure from being saved:</h2>

      <ul>
      <% @dda_expenditure.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :paid %><br>
    <%= f.number_field :paid %>
  </div>
  <div class="field">
    <%= f.label :fund %><br>
    <%= f.text_field :fund %>
  </div>
  <div class="field">
    <%= f.label :paid_date %><br>
    <%= f.text_area :paid_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
