<%- model_class = Order -%>
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h4>Order Completed</h4>
  <p>Your order has been processed and should now appear in Sierra</p>
    <p>
    <table style="width:75%">
      <tr>
        <td><strong><%= model_class.human_attribute_name(:author) %>:</strong></td>
        <td><%= @order.author %></td>
      </tr>
      <tr>  
        <td><strong><%= model_class.human_attribute_name(:title) %>:</strong></td>
        <td><%= @order.title %></td>
      </tr>
      <tr>
        <td><strong><%= model_class.human_attribute_name(:publisher) %>:</strong></td>
        <td><%= @order.publisher %></td>
      </tr>
      <tr>
        <td><strong><%= model_class.human_attribute_name(:isbn) %>:</strong></td>
        <td><%= @order.isbn %></td>
      </tr>
      <tr>
        <td><strong><%= model_class.human_attribute_name(:fund) %>:</strong></td>
        <td><%= @order.fund %></td>
      </tr>
      <tr>
        <td><strong><%= model_class.human_attribute_name(:cost) %>:</strong></td>
        <td><%= number_to_currency(cost_in_dollars(@order.cost), unit: "#{@order.currency} ") %></td>
      </tr>
    </table>
    </p>
    <p><%= link_to order_url(@order), order_url(@order) %></p>
  </body>
</html>
